
  /* Background color */
body {
  background-color: black;
  margin: 0;
}

/* Header styles */
.headder {
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.head {
  display: flex;
  align-items: center;
}

.head a {
  text-decoration: none;
  margin-right: 20px;
  color: white;
  font-size: 1.1rem;
}

.head a:hover {
  text-decoration: underline;
}

.headder img {
  max-width: 150px;
}

/* Movies container styles */
.movies {
  padding: 40px;
  color: white;
  text-align: center;

}

.movies h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.movies p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.beware {
  margin-bottom: 40px;
}

.beware a {
  color: white;
}

.beware h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  line-height: 1.2;
}

/* Column styles */
.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cenima {
  margin: 20px;
  flex: 1 0 33%;
  max-width: 420px;
  position: relative;
}

.cenima img {
  max-width: 100%;
}

.title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  font-size: 1.2rem;
}

/* Footer styles */
.footer{
  background-color: #24262b;
  padding: 70px 0;
  overflow: hidden;
  
}
.container{
  max-width: 1170px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: nowrap;
}
ul{
  list-style: none;
}
.footer-col{
  width: 30%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  background-color: #e91e63;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}